* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  background: #121212;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.5rem;
  overflow: hidden;
}

h1 span {
  display: inline-flex;
}
span[content*=" "] {
  margin: 0 10px;
}
